@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color-primary: #5e5e4a;
    --color-secondary: #f3f3ef;
    --color-extra: #fff;
}


/*Text Styling*/


@mixin text-1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.81rem;
    /*font-size: clamp(1.81rem, 3.43rem + 100vw, 4.06);*/
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-font);
}

@mixin text-grey{
    color: #707b8e;
    font-size: 16px;
line-height: 30px;
font-weight: normal;
}

/*buttons*/


@mixin btn-1 {
    background-color: #f9218d;
    border: none;
    color: #fff;
    padding: 18px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

@mixin btn-2{
    background-color: #d852e8;
    border: none;
    color: #fff;
    padding: 18px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}



/*grid style*/
@mixin grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

@mixin grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

@mixin grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@mixin grid-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.grid-reversed :first-child {
    order: 2;
}



/*top bar*/
.top-bar{
    height: 38.8px;
    width: 100vw;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    .top-cont{
            text-align: center;

        p{
            font-size: 11px;
            letter-spacing: 0.2em;
            font-weight: 400;
            color: #fff;
        }
    }
    .bar-toggle.active{
        display: none;
    }
}



/* nav bar*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color: var(--color-extra);
}

nav .logo{
    color: #000; 
    font-weight: 700;
   text-decoration: none;
   font-size: 19px;
   text-transform: uppercase;
   letter-spacing: 0.15em;
   transition: 0.6s;
   margin-left: 2rem;
   margin-top: 1.3rem;
   border: 3px black solid;
   padding: 1rem;
   padding: .4rem 1.1rem;
}




.navbar-links{
  padding-right: 2rem;

}

nav ul{
position: relative;
display: flex;
justify-content: center;
text-align: left;

}

nav ul li {
    position: relative;
    list-style-type: none;
    padding-bottom: .7rem; 
    transition: border-bottom .2s ease 100ms;
    margin: 0 .3rem;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(112, 112, 112);
}



nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.6s;
    color: #000;
    font-size: 19px;
    font-weight: 400;
}





nav.sticky{
    padding: 10px 100px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(25,25,25,.1);
}


.toggle-button {
    position: absolute;
    top: 4.6rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 3;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

/*main section*/

.main-sect{
    min-width: 90%;
    h4{
        font-size: 16px;
        word-spacing: 1.6px;
        font-weight: 700;
    }
    h3{
        font-size: 29px;
        font-weight: 400;
    }
    .btn-1{
        font-size: 14.2px;
        font-weight: 400;
    }
}



@media only screen and (min-width: 1200px) {
/*nav max*/
    nav{
        padding: 2rem 5rem;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-top: inherit;
            font-size: 28px;
        }
        .toggle-button{

        }
        .navbar-links{
            ul{
                li{
                    a{
                        font-size: 14px;
                        line-height: 10px;
                        font-weight: 400;
                    }
                }
            }
        }
    }


}



@media (max-width: 800px) {
    /*nav */
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    padding: 2rem;
    }

    .navbar-links ul li {
       
        padding-bottom: 2.3rem;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        position: absolute;
        background-color: var(--color-secondary);
        height: 100vh;
        z-index: 2;
        padding-bottom: 400px;
    }

    .home{
        border: none;
    }



}






